<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles/style.css" type="text/css">
    <title>Minecraft servers</title>
</head>
<body>
<div class="shell">
    LOGO AND NAME OF SERVER
</div>

<div class="news_container">
    <div class="news_element">
        <h1>
            НОВОСТИ
        </h1>
    </div>
    <div class="news_element">
        <h1>
            НОВОСТИ
        </h1>
    </div>
    <div class="news_element">
        <h1>
            НОВОСТИ
        </h1>
        <div class="picture_element">
            <h1>
                КАРТИНКА
            </h1>
        </div>
    </div>

</div>
</body>
</html>