{% extends "fun.html" %}
{% block content %}

<section>
    <div class="shell">
    LOGO AND NAME OF SERVER
</div>
<div class="news_container">
    <div class="news_element">
        <h1>
            НОВОСТИ
        </h1>
    </div>
    <div class="news_element">
        <h1>
            НОВОСТИ
        </h1>
        <div class="picture_element">
            <h1>
                КАРТИНКА
            </h1>
        </div>
    </div>
    <div class="news_element">
        <h1>
            НОВОСТИ
        </h1>
        <div class="picture_element">
            <h1>
                КАРТИНКА
            </h1>
        </div>
    </div>

</div>
</section>
{% endblock %}
