{% extends "base.html" %}
{% block content %}
<section>
    <div class="profile_container">
        <div class="profile_info">
            <div class="user_avatar_holder">

            </div>
            <div class="user_info_holder">
                <div class="info_line">
                    {{ data.username }}
                </div>
                <div class="info_line">
                    {{  data.email  }}
                </div>
                <div class="info_line">
                    {{  data.date  }}
                </div>
            </div>
            <div class="settings_holder">

            </div>
        </div>
        <div class="profile_storage">

        </div>
    </div>
</section>
{% endblock %}