{% extends "base.html" %}
{% block content %}
<section>
    <div class="info_cascade">
        <div class="info_box">
            photo
        </div>
        <div class="info_box">
            <div class="info_line">
                {{ data['email'] }}
            </div>
            <div class="info_line">
                {{ data['name'] }}
            </div>
            <div class="info_line">
                {{ data['username'] }}
            </div>
            <div class="info_line">
                {{ data['date'] }}
            </div>
            <a class="button_s" href="/settings">
                <div class="info_line">
                    Settings
                </div>
            </a>

        </div>
    </div>
    <hr>


</section>
{% endblock %}