{% extends "base.html" %}
{% block content %}
<section>
<div class="setting_bar">
    <h1>
        Settings
    </h1>
    <a class="button_s" href="{{ url_for('auth.change_password') }}">
       <div class="settings_line">
           Change password
       </div>
    </a>
    <a class="button_s" href="/upload-avatar">
       <div class="settings_line">
           Upload avatar
       </div>
    </a>
    <a class="button_s" href="{{ url_for('auth.change_username') }}">
       <div class="settings_line">
           Change username
       </div>
    </a>
</div>
</section>
{% endblock %}