{% extends "base.html" %}
{% block title %} Room  {% endblock %}

{% block content %}
<section>
    <div class="chat_box">
        <div class="messages_block">
            <div class="messages scroll">
                {% for message in messages %}
                <div class="message_line">
                    {% if message['status'] == 0 %}
                    <div class="auto_message left_side">
                        {{ message['content'] }}
                    </div>
                    {% elif message['status'] == 1 %}
                    <div class="message right_side">
                        {{ message['content'] }}
                    </div>
                    {% else %}
                    <div class="message left_side">
                        {{ message['content'] }}
                    </div>
                    {% endif%}
                </div>
                {% endfor %}
            </div>
            <div class="members scroll">
                <a class="button" href="{{ url_for('chat.leave_room', room_id=room_id) }}">
                    <img class="small_icon" src="../static/images/leaveicon.png" alt="leave-icon"> Leave room
                </a>
                {% for member in members %}
                <div class="member">{{member}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="input_line">
            <form method="post" action="{{url_for('chat.room', room_id=room_id)}}" autocomplete="off">
                {{ form.hidden_tag() }}
                <img class="small_icon" src="../static/images/send_message.png" alt="send_message">
                <div class="input_message">
                    {{ form.content(placeholder='Text something here') }}
                </div>
                <div class="send_button">
                    {{ form.submit() }}

                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}