div.container {
    margin-top: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    background: #933C2E
}

h1 {
    text-align: center;
    color: white;
}
.blue_box {
    background: #44A7FE;
}
.orange_box {
    background: #E58835;
}

.green_box {
    background: #13A007;
}

p.boxed {
    height: 50px;
}

.button_vertical {
    background: #0FB3CD;
    color: lightgrey;
    width: 50px;
    height: 25px;
    border-radius: 12px;
    padding: 4px;
}

.button_vertical:hover {
    color: white;
    background: #01DBFD;
    transition: .5s;
}

.button_vertical:active {
    background: white;
    transition: .5s;
}
div.form__group {
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 90%;
    background: red;
}

.form {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.warning {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #eb061b;
    text-align: center;
    color: white;
    margin-top: 20px;
    height: 50px;
    width: 80%;
}

.profile_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #3DBB52;
    height: 800px;
    width: 860px;
}

.info_box {
    float: left;
    width: 400px;
    height: 260px;
    margin-left: 20px;
    margin-top: 20px;
    background: #FF9052;

}

.info_cascade {
    width: 860px;
    height: 300px;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
}
body {
    background: #13CE66;
}
hr {
    width: 80%;
    min-width: 860px;
    height: 5px;
    background: #FF9052;
    border-radius: 5px;
    border: none;
}
.info_line {
    width: 68%;
    background: #13CE66;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: center;
}

.button_s {
    width: 68%;
    color: lightgrey;
    transition: .5s;
}

.button_s:hover {
    color: white;
}

.button_s:active {
    color: #FF9052;
}

.setting_bar{
    background: #FF9052;
    height: 200px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;

}

div.chat_box {
    background: green;
    width: 860px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 5px;
}

div.messages_block {
    width: 100%;
    height: 500px;
    background: transparent;
}

div.messages {
    float: left;
    height: 100%;
    width: 68%;
    background: white;
}

div.members {
    float: right;
    height: 100%;
    width: 31%;
    background: blue;
}

div.input_line {
    background: yellow;
    margin-top: 5px;
    width: 100%;
    height: 40px;
}

div.input_message {
    width: 70%;
    height: 40px;
    float: left;
}

div.send_button {
    width: 29%;
    height: 40px;
    float: right;
}

div.message_line {
    width: 100%;
    background: transparent;
    margin-top: 5px;
}

div.message {
    background: #80BFFF;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.left_side {
    float: left;
}

.right_side {
    float: right;
}

a.button {
    background: white;
    border-radius: 5px;
    color: black;
}