div.container {
    margin-top: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    background: #933C2E
}

h1 {
    text-align: center;
    color: white;
}
.blue_box {
    background: #44A7FE;
}
.orange_box {
    background: #E58835;
}

.green_box {
    background: #13A007;
}

p.boxed {
    height: 50px;
}

.button_vertical {
    background: #0FB3CD;
    color: lightgrey;
    width: 50px;
    height: 25px;
    border-radius: 12px;
    padding: 4px;
}

.button_vertical:hover {
    color: white;
    background: #01DBFD;
    transition: .5s;
}

.button_vertical:active {
    background: white;
    transition: .5s;
}
div.form__group {
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 90%;
    background: red;
}

.form {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.warning {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #eb061b;
    text-align: center;
    color: white;
    margin-top: 20px;
    height: 50px;
    width: 80%;
}

.profile_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #3DBB52;
    height: 800px;
    width: 860px;
}

.info_box {
    float: left;
    width: 400px;
    height: 260px;
    margin-left: 20px;
    margin-top: 20px;
    background: #FF9052;

}

.info_cascade {
    width: 860px;
    height: 300px;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
}
body {
    background: #FFF500;
}
hr {
    width: 80%;
    min-width: 860px;
    height: 5px;
    background: #FF9052;
    border-radius: 5px;
    border: none;
}
.info_line {
    width: 68%;
    background: #13CE66;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: center;
}

.button_s {
    width: 68%;
    color: lightgrey;
    transition: .5s;
}

.button_s:hover {
    color: white;
}

.button_s:active {
    color: #FF9052;
}

.setting_bar{
    background: #FF9052;
    height: 200px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;

}

div.chat_box {
    background: transparent;
    width: 860px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 5px;
}

div.messages_block {
    width: 100%;
    height: 500px;
    background: transparent;
}

div.messages {
    float: left;
    height: 100%;
    width: 67%;
    background: #D3EDDE;
}

div.members {
    float: right;
    height: 100%;
    width: 31%;
    background: #459A6A;
}

div.input_line {
    background: #459A6A;
    margin-top: 5px;
    width: 850px;
    height: 40px;
    padding: 5px;

}

div.input_message {
    width: 65%;
    height: 35px;
    float: left;
    background: transparent;
}
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Montserrat:wght@200&display=swap');

input {
    width: 95%;
    height: 100%;f
    background: #D3EDDE;
    border-radius: 40px;
    font-size: 25px;
    padding-left: 15px;
    color: #459A6A;
}
div.send_button {
    width: 29%;
    height: 40px;
    float: right;
}

div.message_line {
    display: flex;
    width: 100%;
    margin-top: 5px;
    background: transparent;
    min-height: 35px;
    padding: 2px;
}
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');

div.message {
    display: block;
    background: #459A6A;
    color: #E2F6EB;
    max-width: 400px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
    border-radius: 7px;
    padding: 4px;
    font-weight: normal;
    height: 100%;
}

div.auto_message {
    background: #E2F6EB;
    color: #459A6A;
    max-width: 400px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
    border-radius: 7px;
    padding: 4px;
    font-weight: normal;
}

.left_side {
    float: left;
}

.right_side {
    float: right;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Nunito:wght@300&display=swap');

a.button {
    background: white;
    border-radius: 5px;
    color: black;
    font-family: 'Comfortaa', cursive;
}

div.scroll {
    padding: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

div.member {
    color: #E2F6EB;
    font-family: Courier;
    font-style: italic;
}

div.setting_banner {
    width: 300px;
    height: 500px;
    background: #C10087;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
}


div.change_line {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 120px;
    background: #34D800;

}

div.danger_line {
    height: 120px;
    background: #34D800;
    padding: 10px;
}

a.danger_button {

    width: 100%;
    height: 100%;
    background: #FF3900;
    margin-lef: auto;
    margin-right: auto;


}

img.small_icon {
    float: left;
    width: 40px;
    height: 40px;
}

nav {
    background: #34D800;
    display: block;
    height: 40px;
    width: 100%;
    padding: 2px;
}

nav ul {
    float: left;
    margin: 5px;
}

nav ul li {
    display: inline-block;
    margin-top: 5px;
    margin-left: 110px;
    margin-right: 110px;

}

a.nav_button {
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-family: "Campton";
    transition: .7s;
}

a.nav_button:hover {
    background: #04BC0F;
}

a.nav_button:active {
    background: white;
    color: #04BC0F;
}