.shell {
    background: black;
    color: white;
    width: 860px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.news_container {
    width: 860px;
    height: 400px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
}

.news_element {
    float: left;
    width: 250px;
    height: 350px;
    margin-left: 27px;
    margin-top: 25px;
    background: #F34242;
    color: white;
}

.picture_element{
    width:250px;
    height: 250px;
   background: black;
   color:white;
}

body {
    background-image: url('background.png');
    background-repeat: repeat;
}

.upper_button {
    text-align: center;
    background: black;
    color: white;
    height: 25px;
    width: 100px;
    transition: .5s;
}

.upper_button:hover {
    background: grey;
    color: blue;
}

.button_link {
    float: left;
    margin-left: 10px;
}



nav {
    height: 50px;
    width: 860px;
    background: transparent;
    margin-right: auto;
    margin-left: auto;
}

footer {
    text-align: center;
    color: white;
    background: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.valuta_picture {
    width: 100px;
    height: 100px;
    background: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}
.cost {
    width: 100px;
    height: 25px;
    background: red;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:white;
}
