{% extends "base.html" %}
{% block title %} House details {% endblock %}

{% block content %}
<section>
    <div class="housedetails_info">
        <div class="content_holder">
            <div class="content_box">
                <div class="summary_box">
                    <div class="info_header">SUMMARY</div>
                    <div class="summary_holder">
                        <div class="text_holder">
                            {{ data.house_info.summary }}
                        </div>
                    </div>
                </div>
                <div class="address_box">
                    <div class="info_header">ADDRESS</div>
                    <div class="address_holder">
                        <div class="content_line">
                            <div class="label_holder">
                                <div class="label">
                                    City:
                                </div>
                            </div>
                            <div class="value_holder">
                                <div class="value">
                                    {{ data.house_info.city }}
                                </div>
                            </div>
                        </div>
                        <div class="content_line">
                            <div class="label_holder">
                                <div class="label">
                                    Street:
                                </div>
                            </div>
                            <div class="value_holder">
                                <div class="value">
                                    {{ data.house_info.street }}
                                </div>
                            </div>
                        </div>
                        <div class="content_line">
                            <div class="label_holder">
                                <div class="label">
                                    House number:
                                </div>
                            </div>
                            <div class="value_holder">
                                <div class="value">
                                    {{ data.house_info.house_number }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cost_box">
                    <div class="info_header">COST</div>
                    <div class="cost_holder">
                        <div class="content_line">
                            € {{ data.house_info.cost }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="photo_holder scroll">
            <div class="photo_box">

            </div>
            <div class="photo_box">

            </div>
            <div class="photo_box">

            </div>
            <div class="photo_box">

            </div>
            <div class="photo_box">

            </div>
        </div>
    </div>
</section>
{% endblock %}