{% extends "base.html" %}
{% block title %} House details {% endblock %}

{% block content %}
<section>
    <div class="housedetails_info">
        <div class="content_holder">
            <div class="content_box">
                <div class="summary_box">
                    <div class="info_header">SUMMARY</div>
                    <div class="summary_holder">

                    </div>
                </div>
                <div class="address_box">
                    <div class="info_header">ADDRESS</div>
                    <div class="address_holder">

                    </div>
                </div>
                <div class="cost_box">
                    <div class="info_header">COST</div>
                    <div class="cost_holder">

                    </div>
                </div>
            </div>
        </div>
        <div class="photo_holder scroll">
            <div class="photo_box">

            </div>
            <div class="photo_box">

            </div>
            <div class="photo_box">

            </div>
            <div class="photo_box">

            </div>
            <div class="photo_box">

            </div>
        </div>
    </div>
</section>
{% endblock %}