{% extends "base.html" %}
{% block title %} House details {% endblock %}

{% block content %}
<section>
    <div class="housedetails_info">
        <div class="cost_house">
            <h1 class="parameter_header">COST</h1>
            <p class="data_holder_cost">{{ data.house_info.cost}}</p>
        </div>
        <div class="summary_house">
            <h1 class="parameter_header">SUMMARY</h1>
            <p class="data_holder_summary">{{  data.house_info.summary  }}</p>
        </div>
        <div>

        </div>
    </div>
</section>
{% endblock %}