{% extends "base.html" %}
{% block title %} Marketplace {% endblock %}

{% block content %}
<section>
    <div class="market_wrapper">
        <div class="market_position "></div>
        <div class="market_position "></div>
        <div class="market_position "></div>
        <div class="market_position "></div>
        <div class="market_position "></div>
        <div class="market_position "></div>
        <div class="market_position "></div>
        <div class="market_position "></div>
    </div>
</section>
{% endblock %}