<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/first.css" type="text/css">
    <link rel="icon" type="image/png" href="../static/images/home_item.png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="nav_button" href="">Home</a></li>
                <li><a class="nav_button" href="{{ url_for('auth.profile') }}">Profile</a></li>
                <li><a class="nav_button" href="{{ url_for('chat.index') }}">Chat</a></li>
                <li><a class="nav_button" href="">Market</a></li>
                <li><a class="nav_button" href="{{ url_for('auth.login') }}">Login</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
    <footer>

    </footer>
</body>
</html>