<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles/style.css" type="text/css">
    <link rel="stylesheet" href="../static/styles/style.css" type="text/css">
    <title>Minecraft servers</title>
</head>
<body>
<header>
    <nav>
        <a class="button_link">
            <div class="upper_button">
                    Выйти
            </div>
        </a>
        <a class="button_link" href="/valuta">
            <div class="upper_button">
                    Валюта
            </div>
        </a>
        <a class="button_link">
            <div class="upper_button">
                    Игрок
            </div>
        </a>
    </nav>
</header>
{% block content %}

{% endblock %}
<footer>
    <p>&copy; Ilya</p>
</footer>
</body>
</html>